$('.count').html('<%= TextQuery.count %> <%= Russian.p(TextQuery.count, "запрос", "запроса", "запросов") %>');
$('#text_query_text_query').val('');

$('.block-300').html('<%= escape_javascript(render partial: 'completed') %>');

