<div class="columns">

  <div class="col column-1">

    <h1>Текст</h1>


    <%= form_for(TextQuery.new, remote: true, authenticity_token: true) do |f| %>

        <p><%= f.text_field :text_query, :class => '', :placeholder => 'Текст' %></p>

        <p><%= f.submit :value => 'Отправить', 'data-disable-with' => 'Отправка ...' %></p>


    <% end %>

  </div>


  <div class="col column-2">

    <h1 class="count"><%= @text_q.count %> <%= Russian.p(@text_q.count, "запрос", "запроса", "запросов") %></h1>


    <div class="block-300">

      <% if @text_q.each_with_index do |t, index| %>

        <div class="item"><%= t.text_query %> <%= t.created_at %> </div>

      <% end.empty? %>
      <% end %>


    </div>

  </div>


</div>