html {
  height: 100%;
}
body {
  height: 100%;
  position: relative;

  font-family: Tahoma;
  font-weight: normal;

  font-size: 20px;
  line-height: 28px;
  cursor: default;
}


.columns {

  width: 100%;
  border: 0;
  margin: 0;
  padding: 40px;

  .col {

    width: 50%;
    float: left;

    text-align: center;

  }



 .block-300 {

   height: 300px;
   width: 100%;
   background-color: #999999;

   padding: 10px;

   overflow-x:hidden;
   overflow-y:scroll;

 }
  .column-1 {



  }


  .column-2 {


    h1 {

      margin-bottom: 50px;

    }

  }

}
